<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleSheet.css') }}">
</head>

<div class=center>
<body>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <h1>Please Enter Your Information for the Bot</h1>

    <form action="submitted" method="post">
        <!-- First Name Information-->
        <input class="textbox" type="text" id ="fname" name = "fname" placeholder="First Name"> <br><br>
        <!-- Last Name Information-->
        <input class="textbox" type="text" id ="lname" name = "lname" placeholder="Last Name"> <br><br>
        <!-- Email Information-->
        <input class="textbox" type="text" id ="email" name = "email" placeholder="Email"> <br><br>
        <!-- Password-->
        <input class="password" type="password" id ="password" name = "password" placeholder="Password"><br>
        <input type = "checkbox" onclick="togglePW()">Show Password

        <br><br>

        <!-- Submit Button-->
        <button type="submit" class="button">Run Bot</button>
    </form>
</body>
</div>
</html>